<!-- PRODUCT -->
<div class="container">

  <div class="row">

    <div id="categ" class="col-md-3">
      <p class="lead">Categories</p>
      <div class="list-group">
        <a href="" class="list-group-item active">Aventura</a>
        <a href="" class="list-group-item">Culinária</a>
        <a href="" class="list-group-item">Crime</a>
        <a href="" class="list-group-item">Desporto</a>
        <a href="" class="list-group-item">Ficção</a>
        <a href="" class="list-group-item">Fantástico</a>
        <a href="" class="list-group-item">Informática</a>
        <a href="" class="list-group-item">Romance</a>
        <a href="" class="list-group-item">Viagens</a>
      </div>
    </div>

    <div class="col-md-9">

      <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
        <div class="caption-full">
          <h4 class="pull-right">{{book.PVP1 + '€'}}</h4>
          <h4>{{book.DescArtigo}}</h4>
          <p>{{book.Sinopse}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
