<!-- PRODUCT -->
<div class="container">

  <div class="row">

    <div id="categ" class="col-md-3">
      <p class="lead">Categories</p>
      <div class="list-group" >
        <div ng-repeat="cat in categories">
          <a  ng-href="#/cats/{{cat.cod}}" class="list-group-item ">{{cat.name}}</a>
        </div>
      </div>
    </div>

    <div class="col-md-9">

      <div class="thumbnail">
        <img class="img-responsive" ng-src="images/{{book.Imagem}}" alt="">
        <div class="caption-full">
          <h4 class="pull-right">{{book.PVP1 + '€'}}</h4>
          <h4>{{book.DescArtigo}}</h4>
          <p>{{book.Sinopse}}</p>

        </div>
         <ngcart-addtocart id="{{ book.CodArtigo}}" name="{{ book.DescArtigo }}" price="{{ book.PVP2 }}" quantity="1" quantity-max="30" >Adicionar</ngcart-addtocart>
      </div>
    </div>
  </div>
</div>
