

<link rel="stylesheet" href="css/checkout.css">
<div class="container text-center">
  <div class="checkout col-md-5 col-sm-12">
    <h1>Checkout</h1>

    <div class="card">
      <div class="front side text-left">
        PAYMENT CARD

        <div class="card-form">
          <input type="text" placeholder="Card number" class="cc-num" />
        </div>
        <div class="card-form">
          Expires:
          <input type="text" placeholder="MM/YY" class="cc-exp" />
        </div>
        <div class="card-form">
          CVC:
          <input type="text" placeholder="000" class="cc-cvc" maxlength="4" />
        </div>
      </div>
    </div>

    <p>Now, where to send it?</p>
    <div class="addr">
      <input type="text" placeholder="Name" />
      <input type="mail" placeholder="E-mail" />
      <input type="text" placeholder="Address Line 1" />
      <input type="text" placeholder="Address Line 2" />
      <input type="text" placeholder="Town" />
      <input type="text" placeholder="Postcode" />
      <input type="text" placeholder="Country" />
    </div>
  </div>

  <div class="shopping col-md-5 col-sm-12 text-left">

    <div class="col-md-12" >
      <ngcart-cart></ngcart-cart>
    </div>
  </div>

  <div>
    <p><a href="#" class="btn btn-primary btn-lg order-btn" id ="purchase" role="button">Purchase</a> </p>
  </div>
</div>

<!-- The popover content -->

<div id="popover" style="display: none">
  <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
  <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
</div>
